/*
* RideClub CSS
*
*/
/* IMPORTS ------------------------------------------------------------*/
/*@import url('reset.css');*/
/*@import url('styled-elements.css');*/
/* HACKS ------------------------------------------------------------*/
.clear{
clear:both;
height:1px;
}
.inv{ display:none; }
.alignleft{
float: left;
margin: 5px 10px 5px 0px;
}
/* GENERAL ------------------------------------------------------------*/
body {
line-height: 1;
color: #5f6062;
font-family: Arial, Helvetica, sans-serif;
font-size: 100%;
}
.wrapper{
width: 966px;
margin: 0px auto;
position: relative;
}
#header{
height: 117px;
position: relative;
z-index: 10;
background: #2a2d30 url(../img/header-glow.png) top center no-repeat;
}
#main{
width: 100%;
}
#content{
min-height: 400px;
overflow: hidden;
margin-bottom: 40px;
font-size: 14px;
line-height: 1.5em;
}
#logo{
position: absolute;
top: 5px;
left: 30px;
}
#content a{
color: #37b2d1;
}
#content p{
margin-bottom: 20px;
}
#content .line-divider{
clear: both;
border-bottom: 1px solid #d7d7d7;
padding-bottom: 10px;
margin-bottom: 10px;
}
/* HEADLINE ------------------------------------------------------------*/
#headline{
position: relative;
width: 906px;
margin: 20px auto 50px auto;
}
#headline>span.main{
display: block;
margin-right: 170px;
font-family: Verdana, arial, serif;
font-size: 26px;
line-height: 1.5em;
text-shadow: 1px 1px rgba(255, 255, 255, 1);
}
#headline>span.sub{
display: block;
margin-right: 170px;
font-size: 18px;
line-height: 1.5em;
text-shadow: 1px 1px rgba(255, 255, 255, 1);
}
#headline #link{
display: block;
position: absolute;
top: 30px;
right: 0px;
}
/* MENU ------------------------------------------------------------*/
#menu{
width: 100%;
padding-top: 1px;
margin-bottom: 0px;
background: #3a595e;
background: -webkit-gradient(linear, left top, right bottom, from(#3a595e), to(#00616f));
background: -moz-linear-gradient(left, #3a595e, #00616f);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a595e', endColorstr='#00616f', GradientType=1);
}
#menu-holder{
width: 100%;
height: 79px;
background: url(../img/menu-bg.png) repeat-x;
}
/* NAVIGATION --------------------------------------------------------*/
#nav{
display: block;
position: absolute;
top: 0px;
left: 30px;
height: 79px;
width: 906px;
}
#nav>li{
display: block;
float: left;
height: 100%;
margin-right: 32px;
}
#nav>li:first-child{}
#nav>li>a{
display: block;
font-size: 16px;
color: #bac0c9;
text-decoration: none;
margin-top: 20px;
text-shadow: 0px -2px rgba(0, 0, 0, .8);
}
#nav>li>a>span.subheader{
display: block;
font-size: 11px;
color: #656b74;
font-style: italic;
margin-top: 10px;
}
#nav>li.current-menu-item{
background: url(../img/menu-arrow.png) no-repeat center bottom;
}
#nav>li:hover>a{
color: #fff;
}
/* sub navigation */
#nav>li ul{
display: block;
margin-top: 33px;
background: #1d2023;
border-radius: 0px 10px 0px 10px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
-webkit-box-shadow: 0px 3px 2px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 3px 2px rgba(0,0,0,0.4);
box-shadow: 0px 3px 2px rgba(0,0,0,0.4);
}
#nav>li>ul ul{
margin-top: 0px;
border-radius: 0px 10px 10px 10px;
-moz-border-radius: 0px 10px 10px 10px;
-webkit-border-radius: 0px 10px 10px 10px;
}
#nav>li ul li a{
display: block;
padding: 10px 15px;
display: block;
font-size: 11px;
color: #bac0c9;
text-decoration: none;
}
#nav>li ul li a span{
display: block;
}
#nav>li ul li a:hover{
background: #000;
color: #fff;
}
#nav>li ul li:last-child a:hover{ /* last item its rounded at bottom */
border-radius: 0px 0px 10px 10px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
}
/* TITLE --------------------------------------------------------*/
#page-title{
overflow: hidden;
height: 103px;
margin-bottom: 30px;
background: url(../img/tabs-divider.png) repeat-x bottom center;
text-shadow: 1px 1px rgba(255, 255, 255, 1);
}
#page-title .title{
display: block;
float: left;
font-family: Verdana, arial, serif;
font-size: 40px;
line-height: 103px;
margin-left: 30px;
}
#page-title .subtitle{
display: block;
float: left;
margin-left: 30px;
font-size: 14px;
margin-top: 4px;
line-height: 103px;
color: #929191;
font-style: italic;
}
/* HEADERS --------------------------------------------------------*/
h1,h2,h3,h4,h5,h6{
line-height: 1.4em;
font-family: Verdana, arial, serif;
font-weight: lighter;
}
h1{ font-size: 30px; }
h2{ font-size: 28px; }
h3{ font-size: 26px; }
h4{ font-size: 24px; }
h5{ font-size: 22px; }
h6{ font-size: 20px; }

}
/* TWITTER --------------------------------------------------------*/
#twitter{
position: relative;
background: #f2f1f1;
height: 80px;
width: 100%;
background: #f2f1f1 url(../img/twitter-border.png) repeat-x;
}
#twitter #bird{
position: absolute;
top: 2px;
left: 70px;
}
#twitter #prev-tweet{
display: block;
position: absolute;
top: 21px;
left: 30px;
width: 30px;
height: 35px;
background: transparent url(../img/prev-arrow.png) no-repeat top left;
}
#twitter #next-tweet{
display: block;
position: absolute;
top: 21px;
right: 30px;
width: 30px;
height: 35px;
background: transparent url(../img/next-arrow.png) no-repeat top right;
}
#twitter #tweets .tweet_list{
display: block;
position: absolute;
top: 1px;
left: 200px;
width: 700px;
height: 75px;
}
#twitter #tweets .tweet_list li{
display: block;
width: 700px;
height: 80px; /* original height 170px */
font-size: 16px;
line-height: 1.5em;
font-style: italic;
color: #838383;
padding-top: 25px;
}
#twitter #tweets .tweet_list li .tweet_time a{
text-decoration: none;
color: #ccc;
}
#twitter #tweets .tweet_list li a{
text-decoration: none;
color: #37b2d1;
}
#twitter #tweets p.loading{
margin-left: 200px;
color: #ccc;
padding-top: 16px;
font-style: italic;
}

/* SOCIAL --------------------------------------------------------*/
.social{
position: absolute;
top: 15px;
right: 0px;
display: block;
overflow: hidden;
}
.social li{
display: block;
width: 32px;
height: 32px;
float: left;
margin-right: 10px;
margin-bottom: 10px;
}
#bottom .social a{
display: block;
width: 32px;
height: 32px;
text-indent: -9000px;
}
#bottom .social a:hover{
background-position: 0px -32px;
}